{
  "swagger": "2.0",
  "info": {
    "title": "GeoIP API",
    "description": "GeoIP service is a management tool that can be used to get country geo data by client's request IP address.",
    "termsOfService": "http://open-api.io/terms/",
    "contact": {
      "name": "PeytzMail Support",
      "url": "https://peytzmail.com/",
      "email": "support@peytz.dk"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "host": "geo.peytzmail.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/clients/{name}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get registered client details",
        "description": "Only admin users can reach this endpoint to get token for already registered client.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Сlient's details",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 2851,
                  "name": "client-sa-1",
                  "role": "client",
                  "api_key": "Wlh5tLj-72x-OS9cxZb3tA"
                }
              }
            }
          },
          "404": {
            "description": "Client not found",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Record not found"
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized access"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "summary": "Delete an existing client",
        "description": "Completely remove client with all it's data from the system. Only admin users can reach this endpoint.",
        "consumes": [
          "application/json"
        ],
        "produces": [

        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Client deleted",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
            }
          },
          "404": {
            "description": "Client not deleted",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Record not found"
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized access"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/v1/clients": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Registered a new client",
        "description": "Only admin users can reach this endpoint to register a new client in GeoIP system.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "client-sa-5",
                      "description": "Short company name"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Client created",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 2858,
                  "name": "client-sa-5",
                  "role": "client",
                  "api_key": "jykcXZSehPSYRmS-1X1Xag"
                }
              }
            }
          },
          "422": {
            "description": "Client not created",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Validation failed",
                "details": [
                  "Name has already been taken"
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Unauthorized access"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    },
    "/v1/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get country info from an IP address",
        "description": "Every users can reach this endpoint get country info from an IP address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "Request ip address\nEg, `178.168.80.18`",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Country info",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "continent": {
                    "code": "EU",
                    "geoname_id": 6255148,
                    "names": {
                      "de": "Europa",
                      "en": "Europe",
                      "es": "Europa",
                      "fr": "Europe",
                      "ja": "ヨーロッパ",
                      "pt-BR": "Europa",
                      "ru": "Европа",
                      "zh-CN": "欧洲"
                    }
                  },
                  "country": {
                    "geoname_id": 617790,
                    "iso_code": "MD",
                    "names": {
                      "de": "Moldau (Republik Moldau)",
                      "en": "Republic of Moldova",
                      "es": "Moldavia",
                      "fr": "Moldavie",
                      "ja": "モルドバ共和国",
                      "pt-BR": "Moldova, República de",
                      "ru": "Молдова",
                      "zh-CN": "摩尔多瓦共和国"
                    }
                  },
                  "registered_country": {
                    "geoname_id": 617790,
                    "iso_code": "MD",
                    "names": {
                      "de": "Moldau (Republik Moldau)",
                      "en": "Republic of Moldova",
                      "es": "Moldavia",
                      "fr": "Moldavie",
                      "ja": "モルドバ共和国",
                      "pt-BR": "Moldova, República de",
                      "ru": "Молдова",
                      "zh-CN": "摩尔多瓦共和国"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "error": "Invalid IP address"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": [

            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic",
      "description": "Provide client name and password as basic auth credentials"
    }
  },
  "tags": [
    {
      "name": "Clients",
      "description": "Contain endpoints related to clients. Includes operations like registering a new client in the GeoIP service and getting information about a registered client."
    },
    {
      "name": "Countries",
      "description": "Contain endpoints related to countries. Includes operations like getting country info from client's request ip address"
    }
  ]
}